
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="style.css"  rel="stylesheet">
</head>
<body>
<div class="login">
    <b><h1>CUSTOMER SERGMENTATION PREDICTION</h1></b>
    <form action="/predict", method="POST", style="text-align: center;">
        <br>
        <label for="income" >Income</label>
        <input type="text" name="height", placeholder="Enter height in cm" required/>
        
        <br><br>
        <label for="score">Score</label>
        <input type="text" name="weight", placeholder="Enter weight in kg" required/>
        <br><br>
        <button value="Submit">Predict</button>
    </form>
    <br>
    <br>
    {{prediction_text}}
</div>
</body>
</html>